.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    min-height: 100vh;
    background: #f5f7fa;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    padding: 30px;
    margin-top: 20px;
    border: 1px solid #ddd;
    background: white;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .form input,
  .form textarea {
    padding: 10px;
    border: 1px solid #7d6d8a;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .form input:focus,
  .form textarea:focus {
    outline: none;
    border-color: #9f82ac;
    box-shadow: 0 0 8px rgba(54, 112, 131, 0.2);
  }
  
  .form input[type="file"] {
    padding: 6px;
    cursor: pointer;
    background-color: #fff;
  }
  
  .form button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background:#7c6a97;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .btn-group {
  display: flex;
  gap: 12px; /* button vache thodu gap */
  width: 100%;
}

.btn-group button {
  flex: 1; /* dono button equal width */
  padding: 12px;
  font-size: 16px;
}
  
  .form button:hover {
    background:#7c6a97;
    transform: translateY(-2px);
  }
  
  .error {
    color: red;
    font-size: 13px;
  }
  .blur-bg {
    filter: blur(3px);
    opacity: 0.4;
    pointer-events: none;
  }
/* LIGHT MODE */
.light {
  background-color: #e2ccec;
  color: #111;
}

.light h1 {
  color: #222;
}

/* DARK MODE */
.dark {
  background-color: #41294d;
  color: #f8fafc;
}

.dark h1 {
  color: #e5e7eb;
}

/* Card override example */
.dark .card {
  background-color: #310655;
  color: #f1f5f9;
}

